JEJAKU_DB_NAME=jejaku
JEJAKU_DB_USER=jejaku
JEJAKU_DB_PASSWORD=changeme

RECEIPT_DB_NAME=jejaku_receipt
RECEIPT_DB_USER=jejaku_receipt
RECEIPT_DB_PASSWORD=changeme

RESEND_API_KEY=re_your_key_here
OTP_FROM_EMAIL=otp@jejaku.my

NEXT_PUBLIC_JEJAKU_URL=https://jejaku.my
NEXT_PUBLIC_RECEIPT_URL=https://jejaku-receipt.jejaku.my

AUTH_SECRET=generate_with_openssl_rand_base64_32
GOOGLE_CLIENT_ID=your_google_oauth_client_id
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret
