JEJAKU_DB_NAME=jejaku
JEJAKU_DB_USER=jejaku
JEJAKU_DB_PASSWORD=changeme

RECEIPT_DB_NAME=jejaku_receipt
RECEIPT_DB_USER=jejaku_receipt
RECEIPT_DB_PASSWORD=changeme

RESEND_API_KEY=re_your_key_here
OTP_FROM_EMAIL=otp@jejaku.my
